
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Everything inside * applies to every page*/
/* The position of evey element starts on the left without any gap*/
/* Every page has the same font*/
* {
    /* position */
   box-sizing: border-box;/* width and height include content, padding, border, not margin*/
   margin: 0; /* no gap */
   padding: 0; /* no gap */

   /* text */
   font-family: Arial, Helvetica, sans-serif;
}

/*Remove bullets from lists*/
ul li{
    list-style-type: none;
}

/*Remove line from links*/
a {
    text-decoration: none; 
}

/*Add distance 100 for anchor links cause of the header*/
html {
    scroll-padding-top: 100px; 
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Body */

/* Editing the background and text color of the body of every webpage*/
body{
    background-color:#0B0C10;
    color: #e3cbf5;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Header */

/*Editing the container of the header */
header {
    position: fixed; /* header stays in the same place */
    z-index: 1; /*covers all the elements */
    top: 0px; /*the header doesnt change position when we use margin top onelements below it */
    padding: 50px 20px;/* header stays in the same place */
    background-color: #1e1c28;
    width: 1550px;/*size*/
    height: 50px;/*size*/
    color: #9290C3; /*text color*/
}


/*Add space only after the first child */
header > :first-child{
    margin-right: 600px;
}

/* Editing logo inside the header container */
header img {
    width: 195px;
    margin-top: -33px; 
}

.header_links {
    margin-top: 5px; /* Adjust positioning upwards */
}


/*Editing the links inside the header container*/
.header_links a {
    font-weight: 500; /*make text bolder*/
    color:  #e3cbf5; /*text color*/
    transition: all 0.3s ease 0s; /*transition for text color*/
    margin-right: 45px; /*space*/
}

/*Editing the links inside the header container while we hover over them*/
header a:hover {
    color:  #775c99; /*text color*/
    font-size: 17px; /*text size*/
}

/*Styling the search bar of the header */
header input[type=text] {
    border: 2px solid #e3cbf5; /*add border*/
    border-radius: 5px; /*cyrcle border*/
    background-color: #ffffff; /*add color*/
    padding: 5px; /*add space inside*/
    margin-right: 50px; /*move to the right*/
    font-size: 17px; /*text size*/  
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Footer */

/* Editing footer container*/
footer{
    background-color: #1e1c28; /*containers color*/
    color: #ffffff; /*text color*/
    height: 350px;/*size*/
}

/*Center text*/
.footer-container{
    text-align: center; 
}
/*Edit KnowledgeHub*/
.footer-container h1{
    margin-bottom: 13px;
    font-size: 35px;
}

/*Edit Copyright*/
.footer-container h4{
    font-size: 17px;
}

/*Styling social media images*/
.social img{
    width: 50px; /*size*/
    margin-left: 35px; /*add space left*/
    transition: transform 0.3s ease; /*transition for zooming on images*/
}

/*Editing social media images when we hover */
.social img:hover{
    transform: scale(1.1); /*zoom image*/
}

/*Styling links at the end of footer*/
footer section p a{
    color: #fff7f0; /*text color*/
    border-right: 2px solid  #fff7f0; /*add line on the right*/  
    padding-right: 8px; /*position*/
    font-size: 17px;
}

/* Remove right border from last link */
footer section p:last-child a{
    border-right: none; 
}

/*Changing links color*/
footer section p a:hover{
    color: #775c99;
}

/*Editing container with footer links*/
.contact-info{
    gap: 10px; /*add space between items*/
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Index */

/*Image slideshow presentation*/
@keyframes slide {
    0% {
        transform: translateX(0%); /* first image */
    }
    25% {
        transform: translateX(-100%); /* second image */
    }
    50% {
        transform: translateX(-200%); /*third image */
    }
    75% {
        transform: translateX(-300%); /*fourth image */
    }
    100% {
        transform: translateX(0%); /*go back to first image*/
    }
}

/*Editing container with slideshow*/
.slideshow{
    overflow: hidden; /*hide rest images that dont fit*/
    width: 1550px; /*size*/
}


/* Styling Welcome title*/
.welcome h1 {
    text-align: center;/*center text*/          
    margin-bottom: 20px; /*position*/           
    font-size: 55px; /*text size*/      
}

/* Styling container with welcome text*/
.welcome {
    width: 1300px; /*size*/                
    margin: 0 auto; /*center text*/               
    font-size: 23px; /*text sixe*/              
    text-align: justify; /*text style*/        
    padding: 20px;/*add space inside*/
    line-height: 1.5;                  
}

/*Styling container that contains all the topics*/
.topics{
    margin-top: 35px; /*add space above*/
    gap: 100px; /*add space between items*/
}

/*Center title*/
.topics h2{
    text-align: center; /*center text*/
}

/*Styling images in trending topics category*/
.subtopics img{
    width: 200px; /*size*/
    height: 145px;/*size*/
    border-radius: 10px; /*cyrcle image*/
    margin-top: 7px;/*space*/
}

.subtopics{
    margin-left: 10px; /*position*/
    transition: transform 0.3s ease; /*transition for zooming on images*/
}

/*Change cursor when we hover over images*/
.subtopics:hover{
    cursor: pointer; 
    transform: scale(1.15); /*zoom*/
}


/*Edit container of every check image and text*/
.reasons_list{ 
    gap: 30px; /*add space between items*/
    margin-bottom: 110px;/*position*/
    margin-top: 45px;
}

/*Edit text next to check image*/
.reasons_list p{
    width: 300px; /*size*/
    text-align: justify; /*text style*/
    color: #bcafc9; /*text color*/
    font-weight: bolder; /*bolder text*/
    font-size: 18px; /*text size*/
}

/*Edit main title in every p*/
.reasons_list p span{
    font-weight: bolder; /*bolder text*/
    font-size: 20px; /*text size*/
    color: #e3cbf5; /*text color*/
}


/*Styling title before top rated books and lectures*/
.index-subcategories h1{
    text-align: center;/*text aligment*/
    font-size: 30px;/*text size*/
    margin-bottom: 35px; /*position*/ 
}

/*Container with lectures and books*/
.index-subcategories{
    margin-bottom: 100px; /*position*/ 
    margin-left: 50px; /*position*/ 
    margin-right: 50px; /*position*/ 
}


/*Editing the container of the comments*/
.comments {
    margin-bottom: 60px;/*position*/
    
}

/*Editing the container of the comments*/
.comment-title{
    margin-bottom: 35px; /*position*/
    text-align: center; /*center text*/
    font-size: 30px;/*text size*/
}

/*center text*/
.comment{
    width: 650px; /*size*/
    padding: 30px; /*add space inside*/
    text-align: justify; /*text style*/
    font-size: 18px; /*text size*/
    border: 1px solid #e3cbf5; /*containers border*/
    box-shadow: 5.5px 4px rgba(255, 255, 255, 0.056); /*add shadow*/
    border-radius: 5px; /*cyrcle border*/
} 


/*Styling newsletter*/
.newsletter {
    width: 1400px; /*size*/
    padding: 20px; /*size*/
    background-color: #12031f; /*add color on container*/
    border: 2px inset #e3cbf5;  /*add color on border*/
}

/*Styling newsletter title*/
.newsletter h2 {
    text-align: center; /*center text*/
    margin-bottom: 15px; /*position*/
}

/*Styling newsletter text*/
.newsletter p {
    font-size: 17px; /*text size*/
    margin-bottom: 20px; /*position*/
    text-align: justify; /*text's style*/
    padding-right:18px;
    padding-left: 18px;
}


/*Styling newsletters */
.newsletter input[type="text"] {
    width: 650px; /*size*/
    padding: 10px;/*add space inside*/
    border: 1px solid #e3cbf5; /*add border*/
    border-radius: 5px; /*cyrcle border*/
}

/*Styling Privacy Policy link*/
.newsletter a {
    color: #9675be; /*text color*/
    text-decoration: none; /*remove link underlne*/
}

/*Editing Privacy Policy link*/
.newsletter a:hover {
    text-decoration: underline; /*add link underlne*/
}

/*Move checkboxes to the left*/
.newsletter-pref{
    margin-left:18px;
}


/*Styling checkbox*/
.newsletter input[type="checkbox"] {
    margin-right: 2px; /*position*/
    margin-left: 15px; /*position*/
    padding-right:25px;
}

/*Styling subscribe button*/
.newsletter button {
    width: 1326px; /*size*/
    padding: 10px; /*add space inside*/
    background-color: #775c99;
    color: white;/*text color*/
    border: none; /*remove border*/
    border-radius: 5px; /*round button*/
    font-size: 16px; /*text size*/
    cursor: pointer; /*chage cursor to pointing*/
    margin-top: 15px; /*position*/
    transition: background-color 0.3s ease; /*hover transition*/
    margin-left: 18px; /*position*/
}

/* Change background color of button when we hover*/
.newsletter button:hover {
    background-color: #644c82; 
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Categories */

/*Styling the title of categories*/
.title-categories{
    text-align: center; /*text aligment*/
    margin-bottom: 50px; /*add space below*/
    margin-top: 120px; /*add space above*/
}

/*Links inside list have specific gap between them and space from left*/
.category ul li {
    padding: 3.5px;   
    margin-left: 10px;
}

/*Chage the color of links*/
.category ul li a{
    color: #e3cbf5; 
}

/*Chage the color of links when we hover*/
.category ul li a:hover{
    color:  #9675be !important;
}

/*Chage the color of links when we press*/
.category ul li a:active {
    color: #644c82 !important;
}

/*Center title*/
.category h2{
    text-align: center;
}

/*Styling the container of the categories*/
.category{
    background-image: linear-gradient( #8565b03e,rgba(165, 37, 211, 0)); /*container color*/
    width: 400px; /*size*/
    padding: 10px; /*add space inside container*/
    height: auto; /*height according each containers size*/
    border: 1px solid #e3cbf5; /*add border*/
    border-radius: 5px;/*circle corners*/
    box-shadow: 5.5px 4px rgba(36, 46, 52, 0.625); /*add box shadow*/
    margin-bottom: 30px; /*add space below*/
}

/*Stylig image inside each container*/
.category img{
    width: 360px; /*size*/
    height: 175px; /*size*/
    border-radius: 7px; /*circle corners*/
    margin-top: 7px; /*add space above*/
    margin-bottom: 7px; /*add space below*/
}

/*Syling category when we hover over it*/
.category:hover{
    transition-duration: 1s; /*time of transition*/
    background:  #14121d; /*container color*/
    transform: scale(1.05); /*zoom*/
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Subcategories */

/*Container of all subcategories*/
.subcategories_main{
    margin-top: 120px; /*add space above*/
    margin-left: 50px; /*add space left*/
    margin-right: 50px; /*add space right*/
    margin-bottom: 50px; /*add space below*/
}

/*Container of all books and lectures details*/
.subcategories{   
    background-image: linear-gradient( #8565b03e,rgba(165, 37, 211, 0));/*containers color*/
    border:1px solid  #e3cbf5; /*add border*/
    width: 290px; /*size*/
    height:auto;/*size*/
    margin-top: 20px;/*position*/
}

/*Editing images inside the container*/
.subcategories img {
    width: 288px;/*size*/
    height: 260px; /*size*/
}

/*Styling the title of lectures/books*/
.subcategories h3{
    color: #c4add8;/*text color*/
    text-align: center;/*text position*/ 
    font-size: 18px;/*text size*/
    font-weight: bold;/*how bold the text is*/
    margin-top: 10px;/*position*/
    margin-bottom: 15px;/*position*/
}

/*Styling the summary of lectures/books*/
.subcategories p {
    font-size: 14.5px;/*text size*/
    margin: 5px;/*position*/
    font-weight: bolder;/*how bold the text is*/
    color: #bcafc9;/*text color*/
    padding: 5px;/*add space inside container*/
}

/*Edt specifically the last chlind, meaning the summary*/
.subcategories p:last-of-type {
    text-align: justify;/*text aligment*/
    line-height: 1.55;/*height between each line*/
}

/*Styling container with info about lectures/books*/
.subcategories a{
    display: block;/*link act as a block*/
    width: 200px; /*size*/
    margin-bottom: 15px;/*position*/
    padding: 10px;/*add space inside*/
    font-size: 15px;/*text size*/
    font-weight: bold;/*bold text*/
    text-align: center;/*place text on center*/
    background-color: #775c99;/*add color on container*/
    color: #dcd3e6;/*text color*/
    border-radius: 3px;/*circle border*/
    transition: background-color 0.15s, transform 0.15s;/*ad transition time*/
    align-self: center; /* Center button in flexbox */
}

/*Styling button once we hover over it*/
.subcategories a:hover{
    color: rgb(138, 120, 151);
    background-color: #432c5e;
    transform: scale(1.035);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Deep Learning (book) and JavaScript (lecture) */

/*Styling the container of the table of contents*/
.rating p{
    font-size: 23px; /*text size*/
}

/*Styling the rating title*/
.rating .fa{
    font-size: 21px; /*text size*/
    margin-left: 3px; /*position*/
}

/*Add color to the checked stars*/
.checked{
    color: orange; /*color of stars*/
  }

/*Styling the line below rating*/
.rating hr{
    width: 242px; /*size*/
    margin-top: 5px; /*position*/
    margin-bottom: 10px; /*position*/
    opacity: 0.5; /*blur*/
}

/*Editing specificaly the*/
.lecture_details .rating p{
    font-size: 23.5px; /*text size*/
}

.lecture_details .rating hr{
    width: 250px; /*size*/
}

/*Styling the container of the table of contents*/
.tof{
    margin-bottom: 50px; /*position*/
}

/*Edit specifically the table of deep-learning*/
#table{
    width: 1005px; /*size*/
    margin-left: 27px; /*position*/
}

/*Edit specifically the table of javascript*/
#table2{
    margin-left: 25px; /*position*/
}

/*Styling the table of contents*/
.tables{
    border-collapse: collapse; /*remove the gap between the cells*/
    width: 500px; /*size*/
    background-image: linear-gradient( #5e507074,rgba(164, 37, 211, 0.04)); /*add color of container*/
    margin-top: 40px; /*position*/
}

/*Styling the table titles background color*/
.tables th{
    background-color:#644c8299; /*add color of container*/
}

/*Styling the table titles and text's color and space inside the cell*/
.tables td, .tables th{
    border: 1px solid #c799eb; /*add border color and width*/
    padding: 10px; /*add space inside the cell*/
}

/*Styling links color*/
.tables tr td a{
    color:#e3cbf5; /*text color*/ 
}

/*Change color of cell when we hover*/
.tables tr:hover {
    background-color:#ffffff11; /*add color of container*/
}

/*Change color of link when we hover*/
.tables tr:hover a{
    color:#9290C3; /*text color*/
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* JavaScript (lecture) */

/*Styling the container of the lecture details*/
.lecture_details{
    margin-top: 120px; /*position*/
    margin-left: 25px; /*position*/
    margin-right: 25px; /*position*/
}

/*Styling the lecture's title*/
.l_title{
    font-size:40px; /*text size*/
    margin-bottom: 13px; /*position*/
}

/*Styling the lecture's speaker*/
.l_speaker{
    color: #a9a7be; /*text color*/
    font-size:20px; /*text size*/
    font-style: italic;
    margin-bottom: 10px; /*position*/
}

/*Styling the lecture's release year*/
.l_year{
    color: #a9a7be; /*text color*/
    font-size:17.5px; /*text size*/
    font-style: italic;
    margin-bottom: 20px; /*position*/
}

/*Styling the lecture's summary*/
.l_summary{
    font-style: italic; /*text style*/
    font-size: 18px; /*text size*/
    margin-bottom: 15px; /*position*/
}

/*Styling the lecture's return link*/
.lecture_details a{
    color: #775c99; /*text color*/
    font-weight: bolder; /*makes text bold*/
}

/*Changing the lecture's return link when we hover over it*/
.lecture_details a:hover{
    color: #644c82; /*text color*/
}

/*Styling the line*/
.line{
    margin-top: 10px; /*position*/
    color: #e3cbf5;  /*text color*/
    opacity: 0.75; /*blur*/
}

/*Styling the container of the lecture summary and video*/
.l_chapters{
    height: auto; /*size*/
    margin-bottom: 10px; /*position*/
    margin-left: 25px; /*position*/
    margin-right: 25px; /*position*/
    padding: 20px; /*add space inside container*/
    text-align: justify; /*text aligment*/
    color: #644c82; /*text color*/
    font-weight:bolder; /*makes text bold*/
    font-size: 18.5px; /*text size*/
    background-color: #12031f; /*add color of container*/
    border: 1.5px solid #644c82; /*add border color and width*/
}

/*Changing the color and border of the container when we hover*/
.l_chapters:hover{
    color: #e3cbf5; /*text color*/
    border: 1.5px solid #c799eb; /*add border color and width*/
}

/*Styling the video*/
.l_chapters iframe{
    width: 400px; /*size*/
    height: 300px; /*size*/
    border-radius: 5px; /*circle video corners*/
}

/*Styling the lecture's title inside the container*/
.l_chapters h2{
    margin-bottom: 15px; /*position*/
}

/*Styling the lecture's summary inside the container*/
.l_chapters p{
    margin-bottom: 20px; /*position*/
}

/*Styling the lecture's link inside the container*/
.l_chapters a{
    display: block; /*link acts like block element and not as an inline element*/
    text-align: right; /*text aligment*/
    color: #12031f; /*text color*/
}

.l_chapters:hover a{
    color:#e3cbf5; /*text color*/
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Deep Learning (book) */

/*Styling container with image and book info*/
.book-details{
    gap: 40px; /*adds gap between image and details*/
    margin-top: 110px; /*position*/
    margin-left: 15px; /*position*/
    margin-right: 15px; /*position*/
    margin-bottom: 90px;/*position*/
    height: 530px;/*size*/
}

/*Styling the width of the container with the details*/
.details{
    width:1005px; /*position*/
}

/*Styling the book's image*/
.book-details img{
    height: 600px; /*size*/
    width: 420px; /*size*/
}

/*Styling the book's title*/
.title{
    margin-bottom: 17px; /*position*/
    font-weight: 900; /*makes text bold*/
    font-size: 45px; /*text siza*/
    font-style: italic; /*text style*/
}

/*Styling the book's authors*/
.authors{
    margin-bottom: 15px; /*position*/
    color: #a9a7be; /*text color*/
    text-transform: uppercase; /*make all letters uppercase*/
    font-weight: bolder; /*makes text bold*/
    font-style: italic; /*text style*/
}

/*Styling the book's release year*/
.year{
    margin-bottom: 18px; /*position*/
    color: #a9a7be; /*text color*/
    text-transform: uppercase; /*make all letters uppercase*/
    font-weight: bolder; /*makes text bold*/
    font-style: italic; /*text style*/
}

/*Styling the book's summary*/
.summary{
    margin-top: 20px; /*position*/
    margin-bottom: 5px; /*position*/
    width: 1000px; /*size*/
    text-align:justify; /*text aligmnet*/
    font-style: italic; /*text style*/
    
}

/*Styling the book's return link*/
.book-details a{
    color: #775c99; /*text color*/
    font-weight: bolder; /*makes text bold*/
}

/*Change the book's return link color when we hover*/
.book-details a:hover{
    color: #644c82; /*text color*/
}

/*Styling the container of the chapters*/
.chapters{
    padding: 12px; /*add space inside container*/
    height: 180px; /*size*/
    margin-left: 27px; /*position*/
    margin-right: 27px; /*position*/
    font-size: 17.5px;
    margin-bottom: 35px;
}

/*Styling the container space under the title*/
.chapters h2{
    margin-bottom: 10px; /*position*/
}

/*Styling the container space under the last list*/
.chapters ol{
    margin-left: 15px; /*position*/
    margin-bottom: 20px; /*position*/
}


/*Change the container of the chapters while we hover over it*/
.chapters:hover{
    background-color: #12031f; /*containers color*/
    border: 1px solid #e3cbf5; /*containers border color and width*/
    font-weight:bolder; /*makes text bold*/
    box-shadow: 5px 5px rgba(131, 131, 131, 0.325); /*add shadow to the container*/
    height: auto; /*height is acording */
}

/*Reveal hidden content on hover*/
.chapters:hover .hide {
    height: auto; /*based on each containers size*/
}

/*Styling the container with lists and pictures*/
.hide{
    overflow: hidden; /*hide the everything outside the container*/
    height: 0; /*size (its 0 so everything inside the container is hidden)*/
    transition: height 1s ease-in-out; /*height transition time*/
}

/*Styling the title before each list*/
.hide h3{
    text-decoration: underline; /*text style*/
    margin-top: 20px; /*position*/
}

/*Styling the element of each list*/
.hide ul{
    margin-bottom: 5px; /*position*/
}

/*Styling the link "return to table"*/
.hide a{
    margin-top: 20px; /*position*/
    font-size: 17px; /*text style*/
    color: #9290C3; /*text color*/
    display:block; /*link acts like block element and not as an inline element*/
    text-align: right; /*place link on right*/
}

/*Change link's color inside chapter container*/
.hide a:hover{
    color: #644c82; /*text color*/
}


/*Editing the alignment for the chapters images*/
.images{
    display: flex; /*enables flexbox layout*/
    justify-content: center; /*center items inside flexbox*/
    gap: 20px; /*add space between items inside flexbox*/
}

/*Styling each image*/
.chapters img{
    height: 300px; /*size*/
    width: 350px; /*size*/
}

/*Styling images of specific chapter below*/
#chapter10 img{
    width:450px; /*size*/
    height: 210px; /*size*/
}

/*Styling images of specific chapter below*/
#chapter11 img{
    height: 700px; /*size*/
    width: 600px; /*size*/
}

/*Styling images of specific chapters below*/
#chapter13 img,#chapter14 img,#chapter15 img,#chapter16 img,#chapter17 img,#chapter18 img,#chapter19 img,#chapter20 img{
    height: 650px; /*size*/
    width: 550px; /*size*/
} 

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* About Us*/

/*Styling image behind text*/
.intro img{
    width: 1550px; /*size*/
    height: 700px; /*size*/
    opacity: 0.08; /*blur image*/
}

/*Styling text title infront of image*/
.intro h1{
    font-size: 40px; /*text size*/
    text-align: center; /*text alignment*/
    position: absolute; /*place text over image*/
    top: 225px; /*position*/
    left:680px; /*position*/
}

/*Styling text title infront of image*/
.intro p{
    position: absolute; /*place text over image*/
    width: 960px; /*size*/
    font-size: 20px; /*text size*/
    text-align: justify; /*text alignment*/
    left: 300px; /*position*/
    top: 325px; /*position*/
}


/*Styling biography container*/
.bio{
    background-image: linear-gradient( #5e507074,rgba(164, 37, 211, 0.04)); /*background color*/
    border: 2px solid #e3cbf5; /*add border width and color*/
    width : 450px; /*size*/
    height: 550px; /*size*/
    margin: 70px; /*add space outside container*/
    padding: 30px; /*add space inside container*/
    border-radius: 10px; /*round corners*/
    font-size: 18px; /*text size*/
    text-align: justify; /*text alignment*/
}

/*Styling biography container avatar*/
.bio img{
    position: relative; /*so we can use top/left/right*/
    top:-80px; /*position*/
    left: 130px; /*position*/
    height: 120px; /*size*/
}

/*Styling biography container name*/
.bio h4{
    position: relative; /*so we can use top/left/right*/
    text-align: center; /*text alignment*/
    font-weight: bolder; /*makes text bold*/
    top: -50px; /*position*/
}

/*Styling biography container profession*/
.bio h5{
    position: relative; /*so we can use top/left/right*/
    text-align: center; /*text alignment*/
    font-weight: bold; /*makes text bold*/
    top: -35px; /*position*/
}



