/*Import font for text*/
@font-face {
    font-family: Stickey; /*give font a name*/
    src: url(STICKEY.ttf);/*import font*/
  }

/*Import font for About us and Welcome titles*/
  @font-face {
    font-family: Gorden;/*give font a name*/
    src: url(Gorden.otf);/*import font*/
    
  }

/*Import font for Index titles*/
  @font-face {
    font-family: gorden;/*give font a name*/
    src: url(Gorden.otf);/*import font*/
    font-weight: bold;/*edit font*/
    
  }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Everything inside * applies to every page*/
/* The position of evey element starts on the left without any gap*/
/* Every page has the same font*/
* {
    /* position */
   box-sizing: border-box;/* width and height include content, padding, border, not margin*/
   margin: 0; /* no gap */
   padding: 0; /* no gap */
   font-family: Stickey;/* text */
}

/*Remove bullets from lists*/
ul li{
    list-style-type: none;
}

/*Remove line from links*/
a {
    text-decoration: none; 
}

/*Add distance 100 for anchor links cause of the header*/
html {
    scroll-padding-top: 100px; 
}

/*Edit the layout of the page, separate it into 3*/
.grid-layout{
    display: grid; /*enable grid layout*/
    grid-template-rows: auto auto auto; /*each row size*/
    grid-template-areas: /*3 colums, 1 row*/
      "header"
      "main"
      "footer";
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Main */

/* Editing the main row of grid*/
main{
    grid-area: main;/*second grid area*/
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Body */

/* Editing the background and text color of the body of every webpage*/
body{
    background-color:#0B0C10;
    color: #e3cbf5;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Header */

/*Editing the container of the header */
header {
    position: fixed; /* header stays in the same place */
    z-index: 3; /*covers all the elements */
    top: 0px; /*the header doesnt change position when we use margin top onelements below it */
    padding: 3% 1%;/* header stays in the same place */
    background-color: #1e1c28;
    width: 100%;/*size*/
    height: 50px;/*size*/
    color: #9290C3; /*text color*/
    display: flex; /*enable flex layout*/
    flex-direction: row;/*display items in a row*/
    grid-area: header;/*first grid area*/
}


/*Add space only after the first child */
header > :first-child{
    flex-grow: 1;
}

/* Editing logo inside the header container */
header img {
    width: 180px;
    height: 9.8vh;
    margin-top: -4%; 
}

.header_links {
    display: flex;/*enables flexbox layout*/
    align-items: center; /* Center links vertically */
    margin-top: 5px; /* Adjust positioning upwards */
}


/*Editing the links inside the header container*/
.header_links a {
    font-weight: 500; /*make text bolder*/
    color:  #e3cbf5; /*text color*/
    transition: all 0.3s ease 0s; /*transition for text color*/
    margin-right: 45px; /*space*/
}

/*Editing the links inside the header container while we hover over them*/
header a:hover {
    color:  #775c99; /*text color*/
    font-size: 17px; /*text size*/
}

/*Styling the search bar of the header */
header input[type=text] {
    border: 2px solid #e3cbf5; /*add border*/
    border-radius: 5px; /*cyrcle border*/
    background-color: #ffffff; /*add color*/
    padding: 5px; /*add space inside*/
    margin-right: 50px; /*move to the right*/
    font-size: 17px; /*text size*/  
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Footer */

/* Editing footer container*/
footer{
    display: flex; /*enables flexbox layout*/
    justify-content: center; /*center horizontally*/
    align-items: center; /*center vertically*/
    flex-direction:column; /*items displayed in a colum*/
    gap: 10%; /*add space between items*/
    background-color: #1e1c28; /*containers color*/
    color: #ffffff; /*text color*/
    height: 200%;/*size*/
    width: 100%;/*size*/
    grid-area: footer; /*third grid area*/
}

/*Center text*/
.footer-container{
    text-align: center; 
}
/*Edit KnowledgeHub*/
.footer-container h1{
    margin-bottom: 1%;
    font-size: 2.7rem;
}

/*Edit Copyright*/
.footer-container h4{
    font-size: 0.95rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

/*Styling social media images*/
.social img{
    width: 10vh; /*size*/
    transition: transform 0.3s ease; /*transition for zooming on images*/
}

/*Editing social media images when we hover */
.social img:hover{
    transform: scale(1.1); /*zoom image*/
}

/*Styling links at the end of footer*/
footer section p a{
    color: #fff7f0; /*text color*/
    border-right: 2px solid  #fff7f0; /*add line on the right*/  
    font-size: 0.999rem;
    padding-right: 10px;
}


/* Remove right border from last link */
footer section p:last-child a{
    border-right: none; 
}

/*Changing links color*/
footer section p a:hover{
    color: #775c99;
}


/*Editing container with footer links*/
.contact-info{
    display: flex;/*enables flexbox layout*/
    flex-direction: row;/*items displayed in a row*/
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1%; /*add space between items*/
    width: 100%;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Index */

/*Image slideshow presentation*/
@keyframes slide {
    0% {
        transform: translateX(0%); /* first image */
    }
    25% {
        transform: translateX(-100%); /* second image */
    }
    50% {
        transform: translateX(-200%); /*third image */
    }
    75% {
        transform: translateX(-300%); /*fourth image */
    }
    100% {
        transform: translateX(0%); /*go back to first image*/
    }
}

/*Editing container with slideshow*/
.slideshow{
    overflow: hidden; /*hide rest images that dont fit*/
    width: 100%; /*size*/
    margin: 0 auto;
}


/*Container with images of slideshow*/
.slide_container{
    margin-top: 6%; /*addd space above*/
    display: flex;/*enables flexbox layout*/
    animation: slide 35s infinite; /* Linear animation for smooth motion */
    width: 400%;  
}

.slide_container img {
    width: 90%; /* Scale images to fit the slideshow width */
    flex-shrink: 0; /* Prevent images from shrinking */
    height: 70vh; /* Maintain aspect ratio */
}

/* Styling Welcome title*/
.welcome h1 {
    text-align: center;/*center text*/          
    margin-bottom: 1.5%; /*position*/           
    font-size: 3rem; /*text size*/  
    font-family: Gorden;        
}

/* Styling container with welcome text*/
.welcome {
    width: 85%; /*size*/                
    margin: 0 auto; /*center text*/               
    font-size: 1.5rem; /*text sixe*/              
    text-align: justify; /*text style*/        
    padding: 3%;/*add space inside*/
    line-height: 1.5;                  
}

/* Styling title Trending Topics*/
.topics-title{
    font-family: gorden;
    margin-top: 4%; /*add space below*/
    text-align: center;/*center text*/
}

/*Styling container that contains all the topics*/
.topics{
    display: flex; /*enables flexbox layout*/
    justify-content: center; /*center horizontally*/
    align-items: center; /*center vertically*/
    margin-top: 2.5%; /*add space above*/
    gap: 5%; /*add space between items*/
    margin-left: 1%;
    margin-right:1%;
}

/*Center title*/
.topics h2{
    text-align: center; /*center text*/
}

/*Styling images in trending topics category*/
.subtopics img{
    width: 30vh; /*size*/
    height: 22vh;/*size*/
    border-radius: 3%; /*cyrcle image*/
    margin-top: 5%;/*space*/
}

.subtopics{
    display: flex; /*enables flexbox layout*/
    flex-direction:column; /*items displayed in a row*/
    justify-content: center; /*center horizontally*/
    align-items: center; /*center vertically*/
    margin-left: 10px; /*position*/
    transition: transform 0.3s ease; /*transition for zooming on images*/
}

/*Change cursor when we hover over images*/
.subtopics:hover{
    cursor: pointer; 
    transform: scale(1.15); /*zoom*/
}

/*Styling title Why Choose Us?*/
.why-title{
    margin-top: 9%; /*space*/
    margin-bottom: 1.5%; /*space*/
    text-align: center;/*text aligment*/
    font-family: gorden;
}

/*Edit container of every check image and text*/
.reasons_list{ 
    display:flex; /*enables flexbox layout*/
    flex-direction: row; /*items displayed in a row*/
    justify-content: center; /*center horizontally*/
    gap: 1.4%; /*add space between items*/
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

/*Edit text next to check image*/
.reasons_list p{
    text-align: justify; /*text style*/
    color: #bcafc9; /*text color*/
    font-weight: bolder; /*bolder text*/
    font-size: 1.1rem; /*text size*/
}

/*Edit main title in every p*/
.reasons_list p span{
    font-weight: bolder; /*bolder text*/
    font-size: 1.1rem; /*text size*/
    color: #e3cbf5; /*text color*/
}

/*Editing container with text and check image*/
.reason{
    display:flex; /*enables flexbox layout*/
    flex-direction: row; /*items displayed in a row*/
    justify-content: center; /*center vertically*/
    gap: 2%; /*add space between items*/
}

/*Styling check image*/
.reason img{
    width: 9%; /*size*/
    height: 25%; /*size*/
}

/*Styling title before top rated books and lectures*/
.index-subcategories h1{
    font-family: gorden; /*font style*/
    text-align: center;/*text aligment*/
    font-size: 1.95rem;/*text size*/
    margin-bottom: 15%; /*position*/ 
    margin-top: 7.5%;
}

/*Container with lectures and books*/
.index-subcategories{
    margin-bottom: 7.5%; /*position*/ 
    margin-left: 3%; /*position*/ 
    margin-right: 3%; /*position*/ 
}


/*Editing the container of the comments*/
.comments {
    display: flex; /*enables flexbox layout*/
    flex-direction: row; /*items displayed in a row*/
    justify-content: center; /*center vertically*/
    gap: 7%; /*add space between items*/
    margin-bottom: 5%;/*position*/
    
}

/*Editing the container of the comments*/
.comment-title{
    margin-bottom: 3%; /*position*/
    text-align: center; /*center text*/
    font-family: gorden;/*test style*/
    font-size: 2rem;/*text size*/
}

/*center text*/
.comment{
    width: 87vh; /*size*/
    padding: 2%; /*add space inside*/
    text-align: justify; /*text style*/
    font-size: 1.1rem; /*text size*/
    border: 1px solid #e3cbf5; /*containers border*/
    box-shadow: 5.5px 4px rgba(255, 255, 255, 0.056); /*add shadow*/
    border-radius: 5px; /*cyrcle border*/
} 

/*Editing newsletter's container*/
.newsletter-container{
    display: flex; /*enables flexbox layout*/
    justify-content: center; /*center newsletter*/
    margin-bottom: 4%; /*position*/
}

/*Styling newsletter*/
.newsletter {
    display: flex; /*enables flexbox layout*/
    flex-direction: column; /*align items in a column*/
    gap: 1%;
    width: 92%; /*size*/
    padding: 1%; /*size*/
    background-color: #12031f; /*add color on container*/
    border: 2px inset #e3cbf5;  /*add color on border*/
}

/*Styling newsletter title*/
.newsletter h2 {
    text-align: center; /*center text*/
    margin-bottom: 1%; /*position*/
}

/*Styling newsletter text*/
.newsletter p {
    font-size: 1rem; /*text size*/
    margin-bottom: 1%; /*position*/
    text-align: justify; /*text's style*/
    padding-right:1%;
    padding-left: 1%;
}

/*Edit inputs so we can center them*/
.newsletter-name{
    display: flex;/*enables flexbox layout*/
    flex-direction: row; /*align items in a column*/ 
    justify-content: center; /*center items*/ 
    align-items: center; /*center items*/ 
    gap: 3%;/*position*/
    margin-bottom: 1%; /*position*/
}

/*Styling newsletters */
.newsletter input[type="text"] {
    width: 47.5%; /*size*/
    padding: 1%;/*add space inside*/
    border: 1px solid #e3cbf5; /*add border*/
    border-radius: 5px; /*cyrcle border*/
}

/*Styling Privacy Policy link*/
.newsletter a {
    color: #9675be; /*text color*/
    text-decoration: none; /*remove link underlne*/
}

/*Editing Privacy Policy link*/
.newsletter a:hover {
    text-decoration: underline; /*add link underlne*/
}

/*Move checkboxes to the left*/
.newsletter-pref{
    margin-left:1%;
}


/*Styling checkbox*/
.newsletter input[type="checkbox"] {
    margin-left: 2%; /*position*/
}

/*Styling subscribe button*/
.newsletter button {
    width: 98%; /*size*/
    padding: 1%; /*add space inside*/
    background-color: #775c99;
    color: white;/*text color*/
    border: none; /*remove border*/
    border-radius: 5px; /*round button*/
    font-size: 1rem; /*text size*/
    cursor: pointer; /*chage cursor to pointing*/
    margin-top: 1%; /*position*/
    transition: background-color 0.3s ease; /*hover transition*/
    margin-left: 1%; /*position*/
}

/* Change background color of button when we hover*/
.newsletter button:hover {
    background-color: #644c82; 
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Categories */

/*The container with all categories*/
.categories-container{
    display: grid; /*grid layout */
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 5%; /*add space*/
    justify-content: center; /*center horizontally */
    align-content: center; /*center vertically */
    max-width: 1400px; /*size*/
    margin: 0 auto; /*center*/
    margin-bottom: 7%; /*position*/
}

/*Styling the title of categories*/
.title-categories{
    text-align: center; /*text aligment*/
    margin-bottom: 9%; /*add space below*/
    margin-top: 8%; /*add space above*/
}

/*Links inside list have specific gap between them and space from left*/
.category ul li {
    padding: 1.5%;   
    margin-left: 1%;
}

/*Chage the color of links*/
.category ul li a{
    color: #e3cbf5; 
}

/*Chage the color of links when we hover*/
.category ul li a:hover{
    color:  #9675be !important;
}

/*Chage the color of links when we press*/
.category ul li a:active {
    color: #644c82 !important;
}

/*Center title*/
.category h2{
    text-align: center;
}

/*Styling the container of the categories*/
.category{
    background-image: linear-gradient( #8565b03e,rgba(165, 37, 211, 0)); /*container color*/
    width: 100%; /*size*/
    padding: 5%; /*add space inside container*/
    height: auto; /*height according each containers size*/
    border: 0.075rem solid #e3cbf5; /*add border*/
    border-radius: 0.5rem;/*circle corners*/
    box-shadow: 5.5px 4px rgba(36, 46, 52, 0.625); /*add box shadow*/
    margin-bottom: 5%; /*add space below*/
}

/*Edit the position of the title and image inside the container*/
.title-image-category{
    display: flex; /*enables flex layout*/
    flex-direction: column; /*align items in a column*/ 
    align-items: center; /*center items*/ 
}

/*Stylig image inside each container*/
.category img{
    width: 100%; /*size*/
    height: 200px; /*size*/
    border-radius: 7px; /*circle corners*/
    margin-top: 2%; /*add space above*/
    margin-bottom: 2%; /*add space below*/
}

/*Syling category when we hover over it*/
.category:hover{
    transition-duration: 1s; /*time of transition*/
    background:  #14121d; /*container color*/
    transform: scale(1.05); /*zoom*/
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Subcategories */

/*Container of all subcategories*/
.subcategories_main{
    margin-top: 8%; /*add space above*/
    margin-left: 4%; /*add space left*/
    margin-right: 4%; /*add space right*/
    margin-bottom: 5%; /*add space below*/
}

/*Title Books*/
.subcategories-title{
    text-align: center;/*text align center*/
    margin-bottom: 5%;/*position*/
    font-family: gorden;/*text style*/
    font-size: 3.2rem;/*text size*/
}

/*Title Lectures*/
.subcategories-title2{
    text-align: center;/*text align center*/
    margin-top: 6%;/*position*/
    margin-bottom: 3.1%;/*position*/
    font-family: gorden;/*text style*/
    font-size: 3.2rem;/*text size*/
}

/*Container of all lectures and books*/
.subcategories_container{
    display: grid;/*enables grid layout*/
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 4 colums */
    justify-content: center; /*center horizontally*/
    align-content: center;   /*center vertically*/
    gap: 6%; /*adds space between items*/
}

/*Container of all books and lectures details*/
.subcategories{
    display: flex; /*flexbox layout*/
    flex-direction: column; /*items are stacked vertically*/
    justify-content: space-between; /*space evenly among items*/    
    background-image: linear-gradient( #8565b03e,rgba(165, 37, 211, 0));/*containers color*/
    border:0.075rem solid  #e3cbf5; /*add border*/
    width: 100%; /*size*/
    min-height: 600px;
}

/*Editing images inside the container*/
.subcategories img {
    width: 100%;/*size*/
    height: 35%; /*size*/
}

/*Styling the title of lectures/books*/
.subcategories h3{
    color: #c4add8;/*text color*/
    text-align: center;/*text position*/ 
    font-size: 1.31rem;/*text size*/
    font-weight: bold;/*how bold the text is*/
    margin-top: 1%;/*position*/
    margin-bottom: 0.7%;/*position*/
}

/*Styling the summary of lectures/books*/
.subcategories p {
    font-size:0.95rem;/*text size*/
    font-weight: bolder;/*how bold the text is*/
    color: #bcafc9;/*text color*/
    padding: 5px;/*add space inside container*/
}

/*Edt specifically the last chlind, meaning the summary*/
.subcategories p:last-of-type {
    text-align: justify;/*text aligment*/
    line-height: 1.55;/*height between each line*/
}

/*Styling container with info about lectures/books*/
.subcategories a{
    display: block;/*link act as a block*/
    width: 60%; /*size*/
    margin-bottom: 5%;/*position*/
    padding: 3%;/*add space inside*/
    font-size: 0.9rem;/*text size*/
    font-weight: bold;/*bold text*/
    text-align: center;/*place text on center*/
    background-color: #775c99;/*add color on container*/
    color: #dcd3e6;/*text color*/
    border-radius: 3px;/*circle border*/
    transition: background-color 0.15s, transform 0.15s;/*ad transition time*/
    align-self: center; /* Center button in flexbox */
}

/*Styling button once we hover over it*/
.subcategories a:hover{
    color: rgb(138, 120, 151);
    background-color: #432c5e;
    transform: scale(1.035);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Deep Learning (book) and JavaScript (lecture) */

/*Styling the container of the table of contents*/
.rating p{
    font-size: 1rem; /*text size*/
}

/*Styling the rating title*/
.rating .fa{
    font-size: 1.6rem; /*text size*/
    margin-left: 0.4%; /*position*/
}

/*Add color to the checked stars*/
.checked{
    color: orange; /*color of stars*/
  }

/*Styling the line below rating*/
.rating hr{
    width: 16.5%; /*size*/
    margin-top: 0.5%; /*position*/
    margin-bottom: 0.7%; /*position*/
    opacity: 0.5; /*blur*/
}

/*Editing specificaly the*/
.lecture_details .rating p{
    font-size: 1.5rem; /*text size*/
}

.lecture_details .rating hr{
    width: 17%; /*size*/
}

/*Styling the container of the table of contents*/
.tof{
    display: flex; /*enables flexbox layout*/
    justify-content: flex-start; /*items start from left to right*/
    margin-bottom: 5%; /*position*/
}

/*Edit specifically the table of deep-learning*/
#table{
    width: 42%; /*size*/
    margin-left: 1%; /*position*/
}

/*Edit specifically the table of javascript*/
#table2{
    margin-left: 1%; /*position*/
}

/*Styling the table of contents*/
.tables{
    border-collapse: collapse; /*remove the gap between the cells*/
    width: 42%; /*size*/
    background-image: linear-gradient( #5e507074,rgba(164, 37, 211, 0.04)); /*add color of container*/
    margin-top: 2%; /*position*/
}

/*Styling the table titles background color*/
.tables th{
    background-color:#644c8299; /*add color of container*/
}

/*Styling the table titles and text's color and space inside the cell*/
.tables td, .tables th{
    border: 0.075rem solid #c799eb; /*add border color and width*/
    padding: 1.5%; /*add space inside the cell*/
}

/*Styling links color*/
.tables tr td a{
    color:#e3cbf5; /*text color*/ 
}

/*Change color of cell when we hover*/
.tables tr:hover {
    background-color:#ffffff11; /*add color of container*/
}

/*Change color of link when we hover*/
.tables tr:hover a{
    color:#9290C3; /*text color*/
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* JavaScript (lecture) */

/*Styling the container of the lecture details*/
.lecture_details{
    margin-top: 7%; /*position*/
    margin-left: 1%; /*position*/
    margin-right: 1%; /*position*/
}

/*Styling the lecture's title*/
.l_title{
    font-size:2.5rem; /*text size*/
    margin-bottom: 1%; /*position*/
}

/*Styling the lecture's speaker*/
.l_speaker{
    color: #a9a7be; /*text color*/
    font-size:1.4rem; /*text size*/
    font-style: italic;
    margin-bottom: 1%; /*position*/
}

/*Styling the lecture's release year*/
.l_year{
    color: #a9a7be; /*text color*/
    font-size:1.35rem; /*text size*/
    font-style: italic;
    margin-bottom: 1.5%; /*position*/
}

/*Styling the lecture's summary*/
.l_summary{
    font-style: italic; /*text style*/
    font-size: 1.2rem; /*text size*/
    margin-bottom: 1%; /*position*/
    margin-top: 1.3%;
    text-align: justify;
}

/*Styling the lecture's return link*/
.lecture_details a{
    color: #775c99; /*text color*/
    font-weight: bolder; /*makes text bold*/
}

/*Changing the lecture's return link when we hover over it*/
.lecture_details a:hover{
    color: #644c82; /*text color*/
}

/*Styling the line*/
.line{
    margin-top: 0.8%; /*position*/
    color: #e3cbf5;  /*text color*/
    opacity: 0.75; /*blur*/
}

/*Styling the container of the lecture summary and video*/
.l_chapters{
    height: auto; /*size*/
    margin-bottom: 1%; /*position*/
    margin-left: 1%; /*position*/
    margin-right: 1%; /*position*/
    padding: 1.5%; /*add space inside container*/
    text-align: justify; /*text aligment*/
    color: #644c82; /*text color*/
    font-weight:bolder; /*makes text bold*/
    font-size: 1.15rem; /*text size*/
    background-color: #12031f; /*add color of container*/
    border: 0.075rem solid #644c82; /*add border color and width*/
}

/*Changing the color and border of the container when we hover*/
.l_chapters:hover{
    color: #e3cbf5; /*text color*/
    border: 0.075rem solid #c799eb; /*add border color and width*/
}

/*Styling the video*/
.l_chapters iframe{
    width: 40%; /*size*/
    height: 40vb; /*size*/
    border-radius: 0.5rem; /*circle video corners*/
}

/*Styling the lecture's title inside the container*/
.l_chapters h2{
    margin-bottom: 1%; /*position*/
}

/*Styling the lecture's summary inside the container*/
.l_chapters p{
    margin-top: 1%;
    margin-bottom: 1%; /*position*/
}

/*Styling the lecture's link inside the container*/
.l_chapters a{
    display: block; /*link acts like block element and not as an inline element*/
    text-align: right; /*text aligment*/
    color: #12031f; /*text color*/
    font-size: 1rem;
}

.l_chapters:hover a{
    color:#e3cbf5; /*text color*/
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Deep Learning (book) */

/*Styling container with image and book info*/
.book-details{
    display: flex; /*enables flexbox layout*/
    margin-left: 1%;
    align-items: center;
    flex-wrap:wrap-reverse;
    gap: 2%; /*adds gap between image and details*/
    margin-top: 7.7%; /*position*/
    margin-bottom: 1.5%;/*position*/
    width: 99%;/*size*/
    height: auto;/*size*/
}

/*Container wraps at 50% width*/
.details{
    flex-basis: 68%;
}

/*Styling the book's image*/
.book-details img{
    width: 110%;
    height: auto;
}

/*Styling the book's title*/
.title{
    margin-bottom: 2%; /*position*/
    font-weight: 900; /*makes text bold*/
    font-size: 3rem; /*text siza*/
    font-style: italic; /*text style*/
}

/*Styling the book's authors*/
.authors{
    margin-bottom: 1.2%; /*position*/
    color: #a9a7be; /*text color*/
    text-transform: uppercase; /*make all letters uppercase*/
    font-weight: bolder; /*makes text bold*/
    font-style: italic; /*text style*/
}

/*Styling the book's release year*/
.year{
    margin-bottom: 1.8%; /*position*/
    color: #a9a7be; /*text color*/
    text-transform: uppercase; /*make all letters uppercase*/
    font-weight: bolder; /*makes text bold*/
    font-style: italic; /*text style*/
}

/*Styling the book's summary*/
.summary{
    margin-top: 1.8%; /*position*/
    margin-bottom: 0.75%; /*position*/
    width: 100%; /*size*/
    text-align:justify; /*text aligmnet*/
    font-style: italic; /*text style*/
  
}

/*Styling the book's return link*/
.book-details a{
    color: #775c99; /*text color*/
    font-weight: bolder; /*makes text bold*/
}

/*Change the book's return link color when we hover*/
.book-details a:hover{
    color: #644c82; /*text color*/
}

/*Edit container with chapters*/
.chapters-container{
    margin: 0 auto;
    width: 100%;
}

/*Styling the container of the chapters*/
.chapters{
    padding: 1%; /*add space inside container*/
    height: auto; /*size*/
    font-size: 1.1rem;/*text size*/
    margin: 0 auto;/*position*/
    text-align: justify;/*text aligment*/
    margin-left: 1%;
    margin-right: 1%;
}

/*Styling the container space under the title*/
.chapters h2{
    margin-bottom: 1%; /*position*/
}

/*Styling the container space under the last list*/
.chapters ol{
    margin-left: 1%; /*position*/
    margin-bottom: 2%; /*position*/
}


/*Change the container of the chapters while we hover over it*/
.chapters:hover{
    background-color: #12031f; /*containers color*/
    border: 1px solid #e3cbf5; /*containers border color and width*/
    font-weight:bolder; /*makes text bold*/
    box-shadow: 5px 5px rgba(131, 131, 131, 0.325); /*add shadow to the container*/
    height: auto; /*height is acording */
}

/*Reveal hidden content on hover*/
.chapters:hover .hide {
    height: auto; /*based on each containers size*/
}

/*Styling the container with lists and pictures*/
.hide{
    overflow: hidden; /*hide the everything outside the container*/
    height: 0; /*size (its 0 so everything inside the container is hidden)*/
    transition: height 1s ease-in-out; /*height transition time*/
}

/*Styling the title before each list*/
.hide h3{
    text-decoration: underline; /*text style*/
    margin-top: 1%; /*position*/
}

/*Styling the element of each list*/
.hide ul{
    margin-bottom: 1%; /*position*/
}

/*Styling the link "return to table"*/
.hide a{
    margin-top: 5%; /*position*/
    font-size: 1rem; /*text style*/
    color: #9290C3; /*text color*/
    display:block; /*link acts like block element and not as an inline element*/
    text-align: right; /*place link on right*/
}

/*Change link's color inside chapter container*/
.hide a:hover{
    color: #644c82; /*text color*/
}


/*Editing the alignment for the chapters images*/
.images{
    display: flex; /*enables flexbox layout*/
    justify-content: center; /*center items inside flexbox*/
    gap: 1%; /*add space between items inside flexbox*/
}

/*Styling each image*/
.chapters img{
    max-height: 20%; /*size*/
    max-width: 25%; /*size*/
}

/*Styling images of specific chapter below*/
#chapter10 img{
    max-width:22%; /*size*/
    max-height: auto; /*size*/
}

/*Styling images of specific chapter below*/
#chapter11 img{
    max-height: auto; /*size*/
    max-width: 35%; /*size*/
}

/*Styling images of specific chapters below*/
#chapter13 img,#chapter14 img,#chapter15 img,#chapter16 img,#chapter17 img,#chapter18 img,#chapter19 img,#chapter20 img{
    max-height: auto; /*size*/
    max-width: 30%; /*size*/
} 

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* About Us*/

/*Edit the container with intro text*/
.intro{
    margin-top: 6%;/*position*/
    width: 100%; /*size*/
    text-align: center; /*center text */
    display: flex; /*flexbox layout */
    flex-direction: column; /*items direction*/
    justify-content: center; /*text style*/
    align-items: center; /*center items horizontally */
}

/*Edit the container with intro text*/
.intro2{
    display: flex; /*flexbox layout */
    flex-direction: column; /*items direction*/
    justify-content: center; /*text style*/
    align-items: center; /*center items horizontally */
}

/*Styling image behind text*/
.intro img{
    width: 100%; /*size*/
    height: auto; /*size*/
    opacity: 0.08; /*blur image*/
    position: absolute; /* Place behind other content */
}

/*Styling text title infront of image*/
.intro h1{
    font-family: Gorden;
    font-size: 3rem; /*text size*/
    text-align: center; /*text alignment*/
    margin-bottom: 2%;/*position*/
    margin-top: 7%;/*position*/
    height: auto; /*size*/
}

/*Styling text title infront of image*/
.intro p{
    width: 70%; /*size*/
    font-size: 1.3rem; /*text size*/
    text-align: justify; /*text alignment*/
    margin-bottom: 5%;
}

.bio-container{
    display: flex; /*enables flexbox layout*/
    justify-content: center; /*center horizontal*/
    flex-wrap: wrap;/*wrap items*/
    margin-top: 2rem;/*position*/
    width: 100%;  /*size*/
}

/*Styling biography container*/
.bio{
    background-image: linear-gradient( #5e507074,rgba(164, 37, 211, 0.04)); /*background color*/
    border: 0.125rem solid #e3cbf5; /*add border width and color*/
    width : 28%; /*size*/
    height: 600px; /*size*/
    margin: 5%; /*add space outside container*/
    padding: 2%; /*add space inside container*/
    border-radius:  0.625rem;; /*round corners*/
    font-size: 1.1rem; /*text size*/
    text-align: justify; /*text alignment*/
}

/*Hiding the text that doesnt fit the container*/
.personal-info{
    max-height: 350px; /*size*/
    overflow: auto; /*hides what cant fit the container*/
}

/*Styling biography container avatar*/
.bio img{
    position: relative; /*so we can use top/left/right*/
    left: 50%;/*position*/
    transform: translate(-50%, -50%); /*center text*/
    top: -5%;/*position*/
    height: 26%; /*size*/
}

/*Styling biography container name*/
.bio h4{
    position: relative; /*so we can use top/left/right*/
    text-align: center; /*text alignment*/
    font-weight: bolder; /*makes text bold*/
    top: -8%;/*position*/
    left: 50%;/*position*/
    transform: translate(-50%, -50%); /*center text*/
}

/*Styling biography container profession*/
.bio h5{
    position: relative; /*so we can use top/left/right*/
    text-align: center; /*text alignment*/
    font-weight: bold; /*makes text bold*/
    top: -3.5%;/*position*/
    left: 50%;/*position*/
    transform: translate(-50%, -50%); /*center text*/
}


/* Tablet Screen */
@media screen and (max-width: 760px) and (min-width: 321px) {

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* Footer */

    /* Editing footer container*/
    footer{
        flex-wrap: wrap;
    }

    .social {
        flex-wrap: wrap;
    }

    /*Editing container with footer links*/
    .contact-info{
        display: flex;/*enables flexbox layout*/
        flex-direction: column;/*items displayed in a row*/
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 5%; /*add space between items*/
        width: 100%;
        text-align: center;
    }

    .contact-info p a{
        border: none;
    }


    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* Index */

    /*Editing container with slideshow*/
    .slideshow{
        overflow: hidden; /*hide rest images that dont fit*/
        width: 100%; /*size*/
        margin: 0 auto;
    }


    /*Container with images of slideshow*/
    .slide_container{
        margin-top: 6%; /*addd space above*/
        display: flex;/*enables flexbox layout*/
        animation: slide 35s infinite; /* Linear animation for smooth motion */
        width: 400%;  
    }

    .slide_container img {
        width: 100%; /* Scale images to fit the slideshow width */
        flex-shrink: 0; /* Prevent images from shrinking */
        height: 70vh; /* Maintain aspect ratio */
    }

    /*Making the font bigger*/
    .topics-title{
        font-size: 2.5rem;
    }
    /*Make the flexbox wreapped and change the position*/
    .topics{
        display: flex; /*enables flexbox layout*/
        flex-wrap: wrap;
        justify-content: center; /*center horizontally*/
        align-items: center; /*center vertically*/
        margin-top: 2.5%; /*add space above*/
        gap: 6%; /*add space between items*/
    }

    /*Add space between items*/
    .topics h3{
        margin-top: 10%;
    }

    /*Changing font size and spacing*/
    .why-title{
        font-size: 2.5rem;
        margin-top: 8%; /*space*/
        margin-bottom: 1.5%; /*space*/
    }

    /*Align items in a column*/
    .reasons_list{ 
        flex-direction: column; /*items displayed in a row*/
        gap: 10px;
        padding: 20px;
    }

    /*Change font size*/
    .reasons_list p{
        font-size: 1.4rem; /*text size*/
    }

    /*Edit main title in every p*/
    .reasons_list p span{
        font-size: 1.4rem; /*text size*/
    }

    /*EChange flex row to column*/
    .reason{
        display:flex; /*enables flexbox layout*/
        flex-direction: column; /*items displayed in a row*/
        justify-content: center; /*center vertically*/
        gap: 10%; /*add space between items*/
    }

    /*Change img size*/
    .reason img{
        width: 4%; /*size*/
        height: 25%; /*size*/
    }
    /*Add spaxe after title*/
    .index-subcategories h1{
        margin-bottom: 25%;
    }
    /*Editing the container of the comments*/
    .comments {
        display: flex; /*enables flexbox layout*/
        flex-direction: row; /*items displayed in a row*/
        justify-content: center; /*center vertically*/
        gap: 7%; /*add space between items*/
        margin-bottom: 5%;/*position*/
        
    }

    /*Bigger font size*/
    .comment-title{
        font-size: 2.5rem;/*text size*/
        margin-top: 90%;
    }

    .comments{
        margin-left: 0px;
    }

    /*Edit widtht*/
    .comment{
        width: 40%; /*size*/

    } 

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* Categories */

    /*The container with all categories*/
    .categories-container{
        display: grid; /*grid layout */
        grid-template-columns: repeat(2, 1fr); /* 3 columns */
        gap: 2%; /*add space*/
        justify-content: center; /*center horizontally */
        align-content: center; /*center vertically */
        max-width: 1400px; /*size*/
        margin-top: 20%; /*center*/
        margin-bottom: 15%; /*position*/
        margin-left: 3%;
        margin-right: 3%;
    }

    /*Styling the title of categories*/
    .title-categories{
        margin-top: 12%; /*add space above*/
        margin-bottom: 30%;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* Subcategories */

    /*Resize container*/
    .subcategories_main {
        margin-top: 20%; /*add space above*/
        margin-left: 2%; /*add space left*/
        margin-right: 2%; /*add space right*/
        margin-bottom: 20%; /*add space below*/
    }

    /*Title Books*/
    .subcategories-title{
        margin-bottom: 12%;/*position*/
    }

    /*Title Lectures*/
    .subcategories-title2{
        margin-top: 20%;/*position*/
        margin-bottom: 10%;/*position*//
    }

    /* Adjust grid layout for smaller screens */
    .subcategories_container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Smaller columns */
        gap: 2%; /* Adjust spacing between items */
        justify-content: center; /*center items*/
        align-content: center; /*center items*/
    }

    /*Change the width of the container*/
    .subcategories {
        min-height: 800px; /* Reduce height to fit smaller screens */
    }

    /*Change the height of the image */
    .subcategories img {
        height: auto; /* maintain ratio */
    }

    /*Change text size*/
    .subcategories h3 {
        font-size: 1.2rem; /* Reduce font size */
    }

    /*Change text size*/
    .subcategories p {
        font-size: 0.95rem; /* Reduce font size for summaries */
    }

    /*Change button*/
    .subcategories a {
        width: 80%; /*size*/
        padding: 4%; /*add space inside button*/
        font-size: 0.8rem; /*text size*/
    }


    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* Deep Learning (book) and JavaScript (lecture) */

    /* remove line */
    .rating hr{
        opacity: 0.0; /*blur*/
    }

    /*Styling the container of the table of contents*/
    .tof{
        justify-content: center; /*items start from left to right*/
    }

    /*Edit specifically the table of deep-learning*/
    #table{
        margin-left: 0%; /*position*/
    }

    /*Edit specifically the table of javascript*/
    #table2{
        margin-left: 0%; /*position*/
    }

    /*Styling the table of contents*/
    .tables{
        border-collapse: collapse; /*remove the gap between the cells*/
        width: 70%; /*size*/
        background-image: linear-gradient( #5e507074,rgba(164, 37, 211, 0.04)); /*add color of container*/
        margin-top: 2%; /*position*/
    }



    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* JavaScript (lecture) */

    /*Styling the container of the lecture details*/
    .lecture_details{
        margin-top: 12%; /*position*/
    }


    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* Deep Learning (book) */

    /*Center items*/
    .book-details{
        justify-content:center;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }

    /*Styling the image*/
    .book-details img{
        width: 400px;
        height: auto;
    }


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* About Us*/
    /*Bio cards are displayed now in a colum*/
    .bio-container {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        gap: 7%; 
      }

    /*Styling biography container*/
    .bio{  
        width : 95%; /*size*/
        margin-bottom: 12%;
        position: relative;
    }

    .personal-info{
        max-height: 200px; /*size*/
        overflow: auto; /*hides what cant fit the container*/
    }

    /*Styling biography container avatar*/
    .bio img{
        display: block;
        position: relative; /*so we can use top/left/right*/
        height: 20%; /*size*/
        object-fit: cover; /*image keeps its aspect ratio */
    }

}

/* Mobile Screen */
@media screen and (max-width: 321px) {

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* Footer */

    /* Editing footer container*/
    footer{
        flex-wrap: wrap;
    }

    .social {
        flex-wrap: wrap;
    }

    /*Editing container with footer links*/
    .contact-info{
        display: flex;/*enables flexbox layout*/
        flex-direction: column;/*items displayed in a row*/
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 5%; /*add space between items*/
        width: 100%;
        text-align: center;
    }

    .contact-info p a{
        border: none;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* Index */

    /*Editing container with slideshow*/
    .slideshow{
        overflow: hidden; /*hide rest images that dont fit*/
        width: 100%; /*size*/
        margin: 0 auto;
    }


    /*Container with images of slideshow*/
    .slide_container{
        margin-top: 6%; /*addd space above*/
        display: flex;/*enables flexbox layout*/
        animation: slide 35s infinite; /* Linear animation for smooth motion */
        width: 400%;  
    }

    .slide_container img {
        width: 100%; /* Scale images to fit the slideshow width */
        flex-shrink: 0; /* Prevent images from shrinking */
        height: 70vh; /* maintain ratio */
    }

    /*Making the font bigger*/
    .topics-title{
        font-size: 2.5rem;
    }
    /*Make the flexbox wreapped and change the position*/
    .topics{
        display: flex; /*enables flexbox layout*/
        flex-wrap: wrap;
        justify-content: center; /*center horizontally*/
        align-items: center; /*center vertically*/
        margin-top: 2.5%; /*add space above*/
        gap: 6%; /*add space between items*/
    }

    /*Add space between items*/
    .topics h3{
        margin-top: 10%;
    }

    /*Changing font size and spacing*/
    .why-title{
        font-size: 2.5rem;
        margin-top: 8%; /*space*/
        margin-bottom: 1.5%; /*space*/
    }

    /*Align items in a column*/
    .reasons_list{ 
        flex-direction: column; /*items displayed in a row*/
        gap: 10px;
        padding: 20px;
    }

    /*Change font size*/
    .reasons_list p{
        font-size: 1.4rem; /*text size*/
    }

    /*Edit main title in every p*/
    .reasons_list p span{
        font-size: 1.4rem; /*text size*/
    }

    /*EChange flex row to column*/
    .reason{
        display:flex; /*enables flexbox layout*/
        flex-direction: column; /*items displayed in a row*/
        justify-content: center; /*center vertically*/
        gap: 10%; /*add space between items*/
    }

    /*Change img size*/
    .reason img{
        width: 4%; /*size*/
        height: 25%; /*size*/
    }

    /*Add space after title*/
    .index-subcategories h1{
        margin-bottom: 50%;
    }

    /*Editing the container of the comments*/
    .comments {
        display: flex; /*enables flexbox layout*/
        flex-direction: row; /*items displayed in a row*/
        justify-content: center; /*center vertically*/
        gap: 7%; /*add space between items*/
        margin-bottom: 5%;/*position*/
        
    }

    /*Bigger font size*/
    .comment-title{
        margin-top: 50%;
    }

    /*Change position*/
    .comments{
        margin-left: 0px;
    }

    /*Edit widtht*/
    .comment{
        width: 40%; /*size*/

    } 


    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* Categories */

    /*The container with all categories*/
    .categories-container{
        display: grid; /*grid layout */
        grid-template-columns: repeat(1, 1fr); /* 3 columns */
        gap: 1%; /*add space*/
        justify-content: center; /*center horizontally */
        align-content: center; /*center vertically */
        max-width: 1400px; /*size*/
        margin-top: 50%; /*center*/
        margin-bottom: 50%; /*position*/
        margin-left: 10%; /*position*/
        margin-right: 3%; /*position*/
    }

    /*Styling the title of categories*/
    .title-categories{
        margin-top: 20%; /*add space above*/
        margin-bottom: 60%; /*add space below*/
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* Subcategories */

    /*Resize container*/
    .subcategories_main {
        margin-top: 20%; /*add space above*/
        margin-left: 10%; /*add space left*/
        margin-right: 0%; /*add space right*/
        margin-bottom: 20%; /*add space below*/
    }

    /*Title Books*/
    .subcategories-title{
        margin-bottom: 25%;/*position*/
    }

    /*Title Lectures*/
    .subcategories-title2{
        margin-top: 50%;/*position*/
        margin-bottom: 20%;/*position*//
    }

    /* Adjust grid layout for smaller screens */
    .subcategories_container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Smaller columns */
        gap: 1%; /* Adjust spacing between items */
        justify-content: center; /*center items*/
        align-content: center; /*center items*/
    }

    /*Change the width of the container*/
    .subcategories {
        min-height: 800px; /* Reduce height to fit smaller screens */
    }

    /*Change the height of the image */
    .subcategories img {
        height: auto; /* maintain ratio */
    }

    /*Change text size*/
    .subcategories h3 {
        font-size: 1.2rem; /* Reduce font size */
    }

    /*Change text size*/
    .subcategories p {
        font-size: 0.95rem; /* Reduce font size for summaries */
    }

    /*Change button*/
    .subcategories a {
        width: 80%; /*size*/
        padding: 4%; /*add space inside button*/
        font-size: 0.8rem; /*text size*/
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* Deep Learning (book) and JavaScript (lecture) */

    /* remove line */
    .rating hr{
        opacity: 0.0; /*blur*/
    }

    /*Styling the container of the table of contents*/
    .tof{
        justify-content: center; /*items start from left to right*/
    }

    /*Edit specifically the table of deep-learning*/
    #table{
        margin-left: 0%; /*position*/
    }

    /*Edit specifically the table of javascript*/
    #table2{
        margin-left: 0%; /*position*/
    }

    /*Styling the table of contents*/
    .tables{
        border-collapse: collapse; /*remove the gap between the cells*/
        width: 70%; /*size*/
        background-image: linear-gradient( #5e507074,rgba(164, 37, 211, 0.04)); /*add color of container*/
        margin-top: 2%; /*position*/
    }


    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* JavaScript (lecture) */

    /*Styling the container of the lecture details*/
    .lecture_details{
        margin-top: 12%; /*position*/
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* Deep Learning (book) */

    /*Center items*/
    .book-details{
        justify-content:center;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }

    /*Styling the image*/
    .book-details img{
        width: 400px;
        height: auto;
    }

    .chapters-container{
        margin: 0 auto;
        text-align: center;
    }


    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /* About Us*/

    /*Bio cards are displayed now in a colum*/
    .bio-container {
      display: flex; 
      flex-direction: column; 
      gap: 7%; 
    }
  
    /*Change bio card size and add space below*/
    .bio {
      width: 100%; 
      margin-bottom: 15%;
      height: 520px;
    }
  
    /*Change images size, position*/
    .bio img {
      width: 20%; 
      height: auto;
      object-fit: cover; /*image keeps its aspect ratio */
      top: -4%;
    }
}

