/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Everything inside * applies to every page*/
/* The position of evey element starts on the left without any gap*/
/* Every page has the same font*/
* {
    /* position */
   box-sizing: border-box;/* width and height include content, padding, border, not margin*/
   margin: 0; /* no gap */
   padding: 0; /* no gap */

   /* text */
   font-family: Garamond, serif;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Body */

/* Editing the background and text color of the body of every webpage*/
body{
    /* appearance */
    background-color: #fff7f0;
    /* text */
    color: black;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Header */

/*Editing the container of the header */
 header {
    /* position */
    position: fixed; /* header stays in the same place */
    z-index: 1; /*covers all the elements */
    top: 0px; /*the header doesnt change position when we use margin top on
                elements below it */

    /* position */
    padding: 50px 25px; /*create space around header */

    /* appearance */
    background-color: #2F3636;
    
    /* size */
    width: 1550px;
    height: 5px; 
    
}

/* Editing logo inside the header container */
header img {

    /* size */
    width: 150px;

    /* appearance */
    border-radius: 10%; /*round img */

    /* position */
    float:left; /* img floats on the left of the header container */
    margin-top: -38px; /*placing img inside header */
    margin-left: -20px; /*placing img on the left */
}


/* Editing the links inside the header container */
.header_links a {
    /* text */
    font-weight: 500; /* bolder text */
    color: #fff7f0;
    text-decoration: none; /* remove underline */
    
    /* transition */
    transition: all 0.4s ease 0s;/* transition of color changing*/

    /* position */
    margin-right: 45px; /* adding space on the right */

}

/* placing links on the right of the header */
.header_links{

    /* position */
    float: right; 
}


/*Editing the links inside the header container while we hover over them*/
header a:hover {
    /* text */
    color:  #bdac14d6;
    font-weight: 400; /* bolder text */
    font-size: 18px;
}

/* Editing the search bar of the header */
header input[type=text] {

    /* appearance */
    border: 1px solid #bdac14d6;/* size,style,color */
	outline: none; /*removing ouline */
    border-radius: 5%; /*rounding img */

    background-color: #fff7f0c1;

    /* position */
    padding: 5px; /*create space on top */
    margin-right: 50px;/*add space on top */

    /* text */
    font-size: 17px;

    
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Footer */


/* Edit the footer container */
footer{
    /* appearance */
    background-color: #534e4e;

    /* size */
    height: 700px;

    /* text */
    color: #fff7f0;

    /* position */
    padding-top: 20px; /*create space on top of element*/

}

/* Distancing sections */
footer section{
    /* position */
    margin: 100px;
}


/* Editing the titles: Contact information, Or follow us on social media, Payment methods  */
footer section h3{

    /* text */
    color: #fff7f0;
    font-weight: bolder;

    /* position */
    margin-bottom: 10px; /*create space on top */
    margin-top: 10px; /*create space on top */
    
}

/* Editing the links inside the footer  */
footer section p a{
    /* text */
    color: #fff7f0;
    text-decoration: none; /*removing the underline */
}

/* Changing the links when we hover over them */
footer section p a:hover{
    /* text */
    text-decoration:underline; /*add underline */
    color: #a8980d;
}

/* Changing the icons height when we hover over them */
footer section img:hover{
    /* size */
    height: 42px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Index */

/* hide the images that are not shown right now */
.slideshow_container{
    overflow: hidden;
    
}

/* container of images */
.slideshow{
    /* flex */
    display:flex;

    /* animation */
    animation: slide 25s infinite; /* 25s duration, infinite times */

    /* size */
    height: 580px;
}

/* images of slideshow */
.slideshow img{
    /* size */
    width: 1550px; 
}

/* image slideshow presentation */
@keyframes slide{
    0%{
        transform: translateX(0px); /* start at 0px */
    }
    20%{
        transform: translateX(-1550px); /* add 1550px (size of image) */
    }
    40%{
        transform: translateX(-3100px);/* add 1550px (size of image) */
    }
    60%{
        transform: translateX(-4650px);/* add 1550px (size of image) */
    }
    80%{
        transform: translateX(-6200px);/* add 1550px (size of image) */
    }
    100%{
        transform: translateX(-7750px);/* add 1550px (size of image) */
    }
}

/* Editing the searching form underneath the main image*/
.search_form{

    /* appearance */
    background-color: #cecfcf;
    border: 1px solid #a8980d;/* size,style,color */

    /* size */
    width: 1550px;
    height: 50px;

    /* text */
    text-align: center; /* center text vertically */

    /* position */
    padding: 10px;

}

/* Editing the container that includes the welcoming title and text underneath  */
.main_intro{
    /* text */
    text-align: center;/* center text vertically */

    /* position */
    margin-top: 20px; /*create space on top */
    margin-bottom: 70px; /*create space on bottom */ 
}

/* edit font size */
.main_intro h3{
    /* text */
    font-size: 17px;
}

/* Editing the welcoming title  */
.main_intro h2 {

    /* text */
    text-transform: uppercase; /* all capital */
    font-size: 40px;
    color: #a8980d;

    /* position */
    margin-bottom: 10px; /*create space on bottom */  
}


/* Editing everything the form contains: input, button except range*/
.search_form select, .search_form input,.search_form button {

    /* appearance */
	border: none;
	outline: none;
	background: #ebe0dc;

    /* position */
	padding: 5px; /*create space around header */
    margin-left: 10px; /*create space on the left */

    /* text */
	color: #000000;
}

/* Editing each label of the form */
.search_form label{
    /* text */
    color: #2F3636;
    font-weight: 900;  /* bolder text */

    /* position */
    margin-left: 50px; /*create space on the left */
  }


  /* Eding range from form */
.search_form input[type="range"] {
    /* appearance */
    appearance: none;/* hide previous features */
    opacity: 0.8; /* make range color trasparent */
    outline: none;
    background: #c7aeae;

     /* size */
    width: 100px;
    height: 10px;
    
}

/* Change range when hover*/
.search_form input[type="range"]:hover {
    /* appearance */
    opacity: 1; /* remove transparency */
    cursor: grab; /* change cursor */
  }

/* Edit the button of the form */
.search_form button{
    
    /* position */
    margin-left: 20px; /* create space on the left */
    padding: 5px; /* create around button text */

    /* appearance */
    background-color: #ffffffd6;
    border: none;
    border-radius: 4px; 
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
}

/* Change the button when we hover */
.search_form button:hover{
    /* appearance */
    background-color: #d6d6d6d6;
    cursor: pointer; /* change cursor */
}


/* Edit text */
.intro_left span, .intro_right span{
    /* text */
    font-weight: 600;
}

/* Edit the list of the description */
.intro_left li, .intro_right li{

    /* appearance */
    list-style: none; /* remove bullets from list */

    /* position */
    padding: 5px; /* add space between li*/

}


/* Edit description images */
.intro_left img, .intro_right img {
    /* size */
    width:500px;

    /* appearance */
    border-radius: 5%;
    border: 1px solid #bdac14d6;
}

/* Edit line above title: View our best offers */
.line{
    /* appearance */
    color: #a8980d;
}

/* Edit title: View our best offers */
.view_offers{
    /* text */
    text-align: center; 
    font-size: 40px;

    /* position */
    margin-top: 15px;
    margin-bottom: 50px;

    /* text */
    color: #a8980d;
}

/* zoom in and add shadow on each card */
.product_list:hover{
    transform:scale(1.1);/*zoom in*/
    box-shadow: 4px 4px #2f363643;

}


/* Edit newsletter container */
.newsletter{
    /* appearance */
    background-color: #bdac14d6;
    /* size */
    height: 140px;
}

/* Centering NEWS LETTER inside newsletter */
.newsletter p{
    /* text */
    text-align: center;
}

/* Centering text inside newsletter */
.newsletter h2{
    /* position */
    margin-bottom: 20px; /* add space below */
    text-align: center; /* center text */

    /* text */
    text-decoration: underline; /* underline text */
}

/* Edit the name, email inputs */
.newsletter input{
    /* size */
    width: 150px; /* size of input */
    height: 30px;

    /* text */
    font-size: 16px;
    color: #1d1c1c;

    /* appearance */
    outline: none; /* remove the outline of the input  */
    background: transparent;

    /* position */
    margin: 5px;   
}

/* Edit the subscribe button */
.newsletter button{
    /* position */
    margin-left: 20px; /* add space on the left*/
    padding: 5px; /* add space inside the button */

    /* appearance */
    background-color: #ffffffd6;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
}

/* Change button when we hover  */
.newsletter button:hover{
    /* appearance */
    background-color: #d6d6d6d6;
    cursor: pointer; /* change cursor */
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Products Categories */


/* edit category cards */
.category-cards{
    /* text */
    font-size: 20px;

    /* size */
    width: 450px;

    /* border */
    border: 1px groove  #bdac14d6;

    /* position */
    padding: 55px; /* add space inside card */
    margin-top: 100px;

    /* appearance */
    background-image: linear-gradient(#efe39e30,white);
}

/* We edit the header of the container. We edit the text and add space below */
.category-cards h2 {
    /* text */
    text-align: center;
    font-weight: 200;
    line-height: 50px;
    font-size: 50px;
    color: #a8980d;

    /* position */
    padding-bottom: 10px;
    
}

/* We edit the images of the categories */
.category-cards img {

    /* size */
    height: 220px;
    width: 350px;

    /* position */
    margin-bottom: 20px;

    /* appearance */
    border: 2px solid #a8980d;

}


/* We remove the bullets and add space below*/
.category-cards li {

    /* appearance */
    list-style: none;

    /* position */
    padding-bottom: 10px;
    text-align: center;
  
}

/* We remove the underline from the links and change the color*/
.category-cards li a{
    /* text */
    color: rgba(23, 74, 83, 0.6);
    text-decoration: none;
}

/* We change the color of the text and add shadow once we hover over it */
.category-cards li a:hover {
    /* text */
    color:#a8980d;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Home Rentals */ /* Car Rentals */

/*Creating a container that includes the image and details of product  */
.product_list{
    /* appearance */
    background-color:  rgba(255, 255, 255, 0.152);
    border:1px solid  #bdac14d6;

    /* size */
    width: 300px;
    height:420px;

    /* position */
    margin-top: 20px;
}

/* Add space above the container of the categories */
.cat_container{
    /* position */
    margin-top: 130px;
    margin-bottom: 30px;
}

.sub_cat{
    color: #a8980d;
    text-align: center;
    font-size: 50px;
}

/*Changing the size of the image*/
.product_list img{
    /* size */
    width: 298px;
    height: 220px;
    
}

/* Changing the text color of the title */
.product_list h3{
    /* text */
    color: #2f3636c0;

    /* position */
    margin-bottom: 8px;
    margin-top: 4px;
}

/* Changing the text color of the details */
.product_list p{
    /* text */
    color: #2f3636c0;

    /* position */
    margin-bottom: 3px;
}

/*Adding space on the right */
.list_details_car{
    /* position */
    margin-left: 190px;
}

/*Adding space on the left and top */
.list_details_home{
    /* position */
    margin-left: 190px;
    margin-top: 25px;
}


/*Changing the price */
.list_details_car p, .list_details_home p{
    /* text */
    font-weight: bolder;
}


/*Changing the style of the botton*/
.list_details_car button, .list_details_home button {
    /* appearance */
    background-color: #bdac14d6;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;

    /* text */
    color: #fff;

    /* position */
    padding: 7px 18px;
}

/*Changing the style of the botton when we hover over it*/
.list_details button:hover, .list_details_home button:hover {
    /* appearance */
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    cursor: pointer;
    background-color: #a8980d;
}
/*Adding space above and changing the text size*/
.list_details1{
    /* position */
    margin-top: 5px;

    /* text */
    font-size: 12px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Product */

/* editing the first image of the product */
.first_img{
    /* position */
    margin-top: 100px; /* add space from top */

    /* size */
    width: 600px;
    height:600px;
}

 
/* The contaner includes all the information that are placed right of the first image */
.product_right{
    float: right;
}

/* Edit the space around small desc, price and small desc */
.product_info{
    /* position */
    margin-top: 120px;
    margin-right: 80px;
}

/* Edit the small desc, price and small desc */
.product_info p{
    font-size: 30px;
}

/* Edit the link find similar products */
.product_info p a{
    /* text */
    color: #cb6e1c;
    text-decoration: none;
}

.product_info p a:hover{
    /* text */
    color: #ab5a13;
}

/* Message and Telephone buttons */
.product_info_button{
    /* position */
    margin-top: 12px;
}

/* Edit the button of the form */
.product_info_button a button{

    /* position */
    margin-left: 20px; /* add space on the left */
    padding: 12px; /* add space inside button */

    /* appearance */
    background-color:white; 
    border: 3px solid  #a8990d2f; /* add border */
    border-radius: 4px;  
    box-shadow: rgba(255, 255, 255, 0.1) 0 2px 4px 0; /* add shadow */
    cursor: pointer;
}

/* Change the botton when he hover over it */
.product_info_button button:hover{
    /* appearance */
    background-color:#2f363639 /* change color */
}

/* Edit the description of the product, meaning the paragraph*/
.product_desc{
    /* position */
    margin-top: 30px; /* add space on top */
    /* text */
    font-size:21px;
    /* size */
    width: 700px;
}

/* Edit product date, visits, price history */
.product_mod{
    /* position */
    margin-top: 25px; /* add space on top */
}

/* Placing in center product date, visits, price history */
.costumer_form h3{
    /* text */
    text-align: center;
}

/* Edit the price, small desc, ups and title  */
.product_info h1{
    /* text */
    font-size: 35px;
    /* position */
    margin-bottom: 12px;
}

/* Edit costumer form container */
.customer_form{
    /* position */
    padding: 5px 10px;

    /* appearance */
    cursor: pointer;
    border:1px solid #a8980d;
    background-image: linear-gradient(#fffefe5f,#a8990d17);

    /* text */
    color: rgb(128, 128, 128);

    /* size */
    width: 600px;
    
    /* text */
    text-align: center;

}

/* Editing costumer form inputs */
.customer_form li input {

    /* size */
    width: 450px;

    /* position */
    padding: 10px;/* add space n between */
    margin-bottom: 30px; /* add space below */
     

    /* text */
    font-size: 16px;
    color: #534e4e;
    
    /* appearance */
    border: none;
    border-bottom: 1px solid #31303059;
    outline: none;  
    background-color: transparent;   
}

/* remove bullets */
.customer_form ul{
    /* appearance */
    list-style-type: none;
}

/* Edit the submit input */
.customer_form li input[type="submit"]{
    /* appearance */
    background-color:  #a8990d5f;
    cursor: pointer;
    border-bottom:none;
    /* size */
    width: 565px;
}

/* Editing the container of images*/
.product_images{
    /*position */
   margin-top: 50px;
   margin-bottom: 30px;
}

/* Editing the images before the footer*/
.product_images img{
    width:300px;
    height:300px;
    border-radius: 3%;
}

/* Edit the table*/
.product_details{
    /* table */
    border-collapse: collapse; /* the cells inside are shared */
    /* size */
    width:880px;

    /* position */
    margin-top: 10px;

    
}

/* Edit the lines and cells of table */
.product_details  th, td {
    /* appearance */
    border: 1px solid #a8980d;

    /* postion */
    padding: 15px;

    /* text */
    text-align: left;
    border-collapse: collapse;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Contact Us */


/* Contains the form */
.contact_form{

    /* position */
    top: 115px; 
    right: 60px;
    /* size */
    width: 750px;

    /* appearance */
    background-image: linear-gradient(#efe39e30,rgba(205, 202, 202, 0.5));
    box-shadow: 0 10px 20px rgba(0,0,0,.6);
}

/* Title of form "Costumer Support" */
.contact_form h3 {

    /* text */
    color: #534e4e;
    font-size: 22px;
    opacity: 0.6;
    text-align: center;

    /* position */
    margin-top: 10px;
  }

  /* All the lines inside the form */
  .contact_form input{

    /* size */
    width: 749px;

    /* position */
    padding: 10px; /* add space on right*/
    margin-bottom: 30px; /* add space below*/

    /* text */
    font-size: 16px;
    color: #534e4e;
    
    /* appearance */
    border: none; /* removing border*/
    border-bottom: 1px solid #fff; /* adding the bottom line of border*/
    outline: none;
    background: transparent;
   
  }

  /* Removing the dots from the inputs */
  .contact_form li{
    /* appearance */
    list-style: none;
  }

  /* Modify the button browse */
  .contact_form input[type="file"]::file-selector-button{
    /* appearance */
    border: 1px solid #ccc;
    
    /* position */
    padding: 5px 10px;

    /* appearance */
    cursor: pointer;

    /* text */
    color: rgb(128, 128, 128);
  }

  /* Modify button submit inside form, using !important to override */
  .form_button{
    /* text */
    color: #bdac14d6 !important; /* using important to override the changes of other inputs */
    font-weight: 700;
    
  }

  /* Modify  cursor*/
  .form_button :hover {
    /* appearance */
    cursor: pointer;
  }

  /* Contains the information next to the form */
 .contact_info{
    /* position */
    margin-top:180px;/* add space above */
    margin-left: 30px;/* add space on the left */
 }

/* Contains the title CONTACT INFORMATION */
 .contact_info h1 {

    /* text */
    color: #534e4e;
    opacity: 0.8;
    letter-spacing: 3px;

    /* position */
    margin-bottom: 20px;
 }

 /* Contains the lines above and below the text */
 .contact_info hr{

    /* position */
    width : 450px;
    margin-bottom: 50px;/* add space below the line*/
    color: rgba(193, 187, 79, 0.4);
 }

  /* Editing the intro, phone number, program and location */
 .contact_info p{

    /* text */
    font-size: large;
    color: #534e4e;
    
    /* position */
    width: 400px;
    padding: 15px;

    /* text */
    text-align: justify;
    
 }

 /* Contains the text after the title */
 .contact_intro{

    /* position */
    margin-bottom: 50px; /* add space below */

    /* text */
    letter-spacing: 1px;
    color: #534e4e;
    opacity: 0.75;
 }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* About Us */

/* Editing the front image */
 .front_img_contact_us{
    /* size */
    width: 1550px;
    height: 350px;
    /* appearance */
    opacity: 0.65; /*transparency*/
 }

 /* Editing the title "Who we are" */
 .about_container h1{

    /* position */
    top:-100px; /* edit the title's height inside the container */
    margin-left: 650px; /* edit the title's width inside the container */
    position: relative; /* positioned relative to it's original position */

    /* text */
    color:#534e4e ;
    font-weight: 900;
    font-size: 50px;
 }

 /* Container that includes title "About Us" and the paragraph below it*/
.about_info{
    /* size */
    width : 750px;
    height: 530px;

    /* position */
    margin: 15px; /*add space above */
    padding: 20px;/*add space around element */
    margin-bottom: 180px; /*add space below */
    
    
    /* text */
    text-align: justify;
    font-size: 25px;
}

/* Editing title "About us" */
.about_info h4{
    /* position */
    margin-bottom: 20px;/*add space below */
    /* text */
    text-align: center;
}

/* Editing "Us" in "About us" */
.title_us{
    /* text */
    color: #bdac14d6;
    font-weight: 900;
}

/* Editing bio card */
.bio{
    /*appearance*/
    background-color:  #cecfcfad;

    /* size */
    width : 400px;
    height: 500px;

    /* position */
    margin: 70px;/*add space above */
    padding: 30px;/*add space around element */

    /* border */
    border-radius: 10px;
    
    /* text */
    font-size: 18px;
    text-align: justify;

    /* border */
    border: 2px solid #a8980d;
}

/* Editing image inside bio card */
.bio img{
    /* position */
    position: relative;/* positioned relative to it's original position */
    top:-80px;/* edit the image's height inside the container */
    left: 90px;/* edit the image's width inside the container */
}

/* Editing the name inside bio card */
.bio h4{
    /* text */
    text-align: center;
    font-weight: bolder;

    /* position */
    position: relative;/* positioned relative to it's original position */
    top: -50px;
}

/* Editing the profession inside bio card */
.bio h5{
    /* text */
    text-align: center;
    font-weight: bold;

    /* position */
    position: relative;/* positioned relative to it's original position */
    top: -35px;
}
